body {
    margin: 0;
    background-color: #7EA0B7;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183059;
    color: whitesmoke;
    top: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 22px;
}

nav a, nav a:visited {
    color: #fff;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

.app {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.quiz-list {
    width: 35%;
    min-width: 400px;
}

.quiz-node {
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin-bottom: 50px;
    font-size: 20px;
}

.quiz-img-container:hover {
    cursor: pointer;
}

.quiz-img-container {
    width: 100%;
    height: 70%;
}

.quiz-img {
    height: 100%;
    width: 100%;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183059;
    color: whitesmoke;
    height: 15%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.quiz-title {
    margin-left: 15px;
    font-size: 32px;
}

.quiz-author {
    margin-right: 15px;
    font-size: 20px;
}

.quiz-footer {
    background-color: #183059;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.quiz-footer-desc {
    display: flex;
    align-items: center;
}

.quiz-desc {
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.quiz-footer-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 5px;
}

.fav {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
}

.create-quiz-container {
    width: 35%;
    height: 550px;
    color: whitesmoke;
    background-color: #183059;
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
}

.create-quiz-container h1 {
    font-size: 40px;
}

.create-quiz-container label {
    font-size: 30px;
}

.create-quiz-container input {
    height: 25px;
    width: 50%;
}

.create-quiz-container button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.form-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

span {
    color: red;
}

.delete {
    cursor: pointer;
}

.edit {
    color: whitesmoke;
}

.favorites-info {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}

Link {
    color: whitesmoke;
}

.question-container {
    height: 400px;
    width: 35%;
    min-width: 400px;
}

.edit-question-button {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}

.edit-question-button button {
    background-color: #183059;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.question-node {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    color: whitesmoke;
    background-color: #183059;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}

.question-current {
    border-right: 2px solid white;
    padding: 5px;
    overflow: auto;
    word-wrap: break-word;
}

.question-answers {
    border-left: 2px solid white;
    padding: 5px;
    overflow: auto;
}

.answer {
    padding: 12px 12px 12px 12px;
    margin-bottom: 6px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
    word-wrap: break-word;
}

.answer:hover {
    cursor: pointer;
}

.answer-correct {
    padding: 12px 12px 12px 12px;
    margin-bottom: 6px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background-color: #3DB876;
    word-wrap: break-word;
}

.answer-incorrect {
    padding: 12px 12px 12px 12px;
    margin-bottom: 6px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background-color: #E15554;
    word-wrap: break-word;
}

.arrows {
    display: flex;
    justify-content: center;
}

.left-arrow {
    display: flex;
    justify-content: right;
    width: 50%;
    padding-right: 20px;
}

.question-number {
    font-size: 32px;
}

.right-arrow {
    width: 50%;
    padding-left: 20px;
}

.edit-question-container {
    width: 25%;
    min-width: 400px;

}

.edit-question-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.edit-question-buttons button {
    background-color: #183059;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.answer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-answer {
    padding-bottom: 15px;
}

.edit-question-node {
    height: 250px;
    color: whitesmoke;
    background-color: #183059;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.edit-question-node button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.edit-question-header{
    display: flex;
    justify-content: space-between;
}

.edit-question-header button {
    background-color: #D8000C;
    height: 29px;
    margin-top: 5px;
}

.edit-question-footer {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.edit-question-footer button {
    margin-right: 10px;
}